.main {
  height: max-content;
  padding-right: 30px;
  button {
    height: 22px;
    box-sizing: border-box;
    font-size: 11px;
    padding: 2px 9px 2px 8px;
    border: none;
    border-radius: 4px;
    background-color: #ff5500;
    color: white;
    svg,
    span {
      vertical-align: middle;
    }
    span {
      margin-left: 3px;
    }
  }
  a {
    display: block;
    color: #333333;
    margin-top: 26px;
    svg,
    span {
      vertical-align: middle;
      font-size: 13px;
    }
    span {
      margin-left: 5px;
      font-size: 11px;
    }
  }
}
.profileImg {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  box-sizing: border-box;
  border: 1px solid lightgray;
}
.username {
  margin-top: 15px;
  font-size: 14px;
}
.userInfo {
  list-style-type: none;
  padding: 0;
  margin: 5px 0;
  color: #999999;
  li {
    display: inline-block;
    margin-right: 10px;
  }
  svg,
  span {
    vertical-align: middle;
  }
  svg {
    font-size: 12px;
  }
  span {
    font-size: 11px;
    margin-left: 2px;
  }
}
