.trackHeader {
  height: 380px;
  --opacity: 0.6;
  --red: 0;
  --green: 0;
  --blue: 0;
  --bg-color: rgba(var(--red), var(--green), var(--blue), 1);
  --bg-color-light: rgba(var(--red), var(--green), var(--blue), var(--opacity));
  background: linear-gradient(120deg, var(--bg-color), var(--bg-color-light));
  position: relative;
  top: 46px;
}
.trackInfo {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  height: 63px;
  width: 650px;
  .playButton {
    margin-top: 2px;
    width: 60px;
    height: 60px;
    float: left;
    border-radius: 50%;
    border: none;
    background-color: rgb(255, 81, 0);
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 35px;
    svg path {
      fill: white;
    }
    &:hover {
      background-color: #ff3300;
    }
  }
  .soundTitle {
    display: grid;
    grid-row: 2;
    .titleContainer {
      margin-left: 5px;
      height: 37px;
      box-sizing: border-box;
      width: fit-content;
      background-color: rgb(34, 34, 34);
      color: white;
      font-size: 24px;
      padding: 4px 7px;
    }
    .usernameContainer {
      margin: 5px 0 0 5px;
      width: fit-content;
      background-color: rgb(34, 34, 34);
      color: lightgray;
      padding: 2px 7px;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
.playingTrack {
  // border: 1px solid black;
  position: relative;
  top: 220px;
  left: 30px;
  height: 100px;
  width: 820px;
  box-sizing: border-box;
  .barContainer {
    width: 100%;
  }

  .progressBar {
    --bar-bg: #ffffff;
    --seek-before-width: 0;
    --seek-before-color: #ff3f02;
    --knobby: #ff3f02;
    --selectedKnobby: #26c9c3;

    appearance: none;
    background: var(--bar-bg);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  //   Safari
  .progressBar::-webkit-slider-runnable-track {
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  //   Firefox
  .progressBar::-moz-range-track {
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  .progressBar::-moz-focus-outer {
    border: 0;
  }
  // Chrome & Safari
  .progressBar::before {
    content: "";
    height: 11px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
  }
  /* progress bar - firefox */
  .progressBar::-moz-range-progress {
    background-color: var(--seek-before-color);
    border-radius: 10px;
    height: 11px;
  }
  /* knobby - chrome and safari */
  .progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 4;
  }
  /* knobby - firefox */
  .progressBar::-moz-range-thumb {
    width: 0px;
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
    z-index: 4;
  }
}
.trackPlayer {
  display: grid;
  grid-row: 2;
  width: 100%;
  .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 15px;
    box-sizing: border-box;
  }
  .currentTime,
  .duration {
    font-size: 10px;
    background: black;
    letter-spacing: 1px;
    width: 28px;
    display: flex;
    justify-content: center;
  }
  .currentTime {
    color: #ff3f02;
  }
  .duration {
    color: #999999;
  }
}
.titleInfo {
  position: absolute;
  top: 30px;
  right: 390px;
  width: 75px;
  height: 67px;
  display: grid;
  align-content: space-between;
  font-size: 16px;
  text-align: center;
  color: white;
  .releasedDate {
    height: 22px;
  }
  .tag {
    height: 26px;
    background-color: #999999;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      background-color: #666666;
      cursor: pointer;
    }
  }
}
.albumImage {
  position: absolute;
  top: 20px;
  width: 340px;
  height: 340px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img {
    max-width: 340px;
    max-height: 340px;
  }
}
