.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  margin: 8px;
  .image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    &:hover {
      cursor: pointer;
    }
  }
  .link {
    font-size: 14px;
    text-decoration: none;
    color: #5f5f5f;
    font-weight: 300;
    &:hover {
      cursor: pointer;
    }
  }
  .follower_count {
    font-size: 12px;
    color: #999999;
  }
  .button {
    opacity: 0;
    border: #ff3300 1px solid;
    border-radius: 3px;
    background-color: white;
    color: #ff3300;
    text-align: center;
    font-size: 12px;
    .followed {
      color: #ff3300;
    }
  }
  &:hover {
    .button {
      opacity: 1;
    }
  }
}
