.wrapper {
  display: flex;
  flex-direction: row;
  width: 1240px;
  padding: 10px;
  height: 240px;
  align-items: center;
  justify-content: center;
  .imgWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    margin: 0 20px 0 10px;
    cursor: pointer;
    .img {
      width: 150px;
      height: 150px;
    }
  }
  .rightSector {
    width: 900px;
    display: flex;
    flex-direction: column;
    width: 1150px;
    margin-right: 10px;
    .playAndInfo {
      display: flex;
      flex-direction: row;
      align-items: center;
      .playButton {
        height: 30px;
        width: 30px;
        padding: 5px;
        background-color: #ff3300;
        color: white;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
      }
      .info {
        display: flex;
        flex-direction: column;
        .artistName {
          font-size: 12px;
          color: #cccccc;
          &:hover {
            color: #5f5f5f;
            cursor: pointer;
          }
        }
        .trackTitle {
          margin-top: 5px;
          font-size: 14px;
          text-decoration: none;
          color: #5f5f5f;
          font-weight: 300;
          cursor: pointer;
        }
      }
    }
    .player {
      width: 1000px;
    }
    .commentWrapper {
      display: flex;
      flex-direction: row;
      border: #f2f2f2 solid 7px;
      align-items: center;
      .userImg {
        height: 15px;
        width: 15px;
      }
      .commentInput {
        outline: none;
        border-radius: 2px;
        flex-grow: 1;
        outline: none;
        border: none;
        padding-left: 10px;
        &:hover {
          outline: none;
        }
      }
    }
    .details {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .likeAndRepost {
        display: flex;
        flex-direction: row;
        height: 40px;
        align-items: center;
        .likedHeartBox,
        .likeHeartBox {
          cursor: pointer;
          width: 50px;
          height: 20px;
          border: #999999 solid 1.5px;
          border-radius: 5px;
          display: flex;
          flex: row;
          align-items: center;
          .liked {
            color: #ff3300;
            padding: 0 5px 0 5px;
            width: 20px;
            height: 20px;
          }
          .like {
            color: black;
            padding: 0 5px 0 5px;
            width: 20px;
            height: 20px;
          }
        }
        .likedHeartBox {
          color: #ff3300;
          &:hover {
            border: #ff3300 solid 1.5px;
          }
        }
        .likeHeartBox {
          color: black;
        }
        .repostedBox,
        .repostBox {
          margin-left: 10px;
          cursor: pointer;
          width: 50px;
          height: 20px;
          border: #999999 solid 1.5px;
          border-radius: 5px;
          display: flex;
          flex: row;
          align-items: center;
          .reposted {
            color: #ff3300;
            padding: 0 5px 0 5px;
            width: 20px;
            height: 20px;
          }
          .repost {
            color: black;
            padding: 0 5px 0 5px;
            width: 20px;
            height: 20px;
          }
        }
        .repostedBox {
          color: #ff3300;
          &:hover {
            border: #ff3300 solid 1.5px;
          }
        }
        .repostBox {
          color: black;
        }
      }
      .playAndComment {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        color: #999999;
        width: 80px;
        height: 40px;
        padding-top: 10px;
        .play_count {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
}
.trackPlayer {
  background-color: #f3f3f3;
  border-radius: 10px;
  display: grid;
  grid-row: 2;
  width: 100%;
  .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 15px;
    box-sizing: border-box;
  }
  .currentTime,
  .duration {
    font: 10px/1.4 Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda,
      Verdana, Tahoma, sans-serif;
    background: black;
    width: 28px;
    display: flex;
    justify-content: center;
  }
  .currentTime {
    color: #ff3f02;
  }
  .duration {
    color: #999999;
  }
}
.barContainer {
  width: 100%;
}

.progressBar {
  --bar-bg: #ffffff;
  --seek-before-width: 0;
  --seek-before-color: #ff3f02;
  --knobby: #ff3f02;
  --selectedKnobby: #26c9c3;

  appearance: none;
  background: var(--bar-bg);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}
//   Safari
.progressBar::-webkit-slider-runnable-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}
//   Firefox
.progressBar::-moz-range-track {
  background: var(--bar-bg);
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 11px;
  outline: none;
}
.progressBar::-moz-focus-outer {
  border: 0;
}
// Chrome & Safari
.progressBar::before {
  content: "";
  height: 11px;
  width: var(--seek-before-width);
  background-color: var(--seek-before-color);
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  cursor: pointer;
}
/* progress bar - firefox */
.progressBar::-moz-range-progress {
  background-color: var(--seek-before-color);
  border-radius: 10px;
  height: 11px;
}
/* knobby - chrome and safari */
.progressBar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 0px;
  border-radius: 10px;
  cursor: pointer;
  z-index: 4;
}
/* knobby - firefox */
.progressBar::-moz-range-thumb {
  width: 0px;
  border-radius: 10px;
  border: transparent;
  cursor: pointer;
  z-index: 4;
}
