.artistpage-wrapper {
  width: 100vw;
  background-color: #f2f2f2;
}

.artistpage {
  margin: auto;
  width: 1240px;
  background-color: white;
  margin-top: 46px;
  height: calc(100vh - 46px);
}

.profile-header {
  width: 1240px;
  height: 260px;
  background-image: url(https://upload.wikimedia.org/wikipedia/commons/d/d7/Sky.jpg);
  display: flex;
  flex-direction: row;

  img {
    width: 200px;
    height: 200px;
    border-radius: 200px;
    margin: 30px;
  }

  .upload-header-image {
    margin-left: 670px;
    margin-top: 30px;

    button {
      width: 175px;
      height: 26px;
      border: 1px solid #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 20px;
        height: 20px;
        border-radius: 0px;
        margin: 0px;
      }

      div {
        font-size: 14px;
        margin-left: 5px;
      }
    }

    input {
      display: none;
    }
  }
}

.name {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.displayname {
  width: fit-content;
  height: 37px;
  padding: 0 10px 0 10px;
  background-color: black;
  color: white;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  margin-bottom: 5px;
}

.username {
  width: fit-content;
  height: 25px;
  padding: 0 7px 0 7px;
  background-color: black;
  color: #cccc;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
}

.menu-bar {
  width: 1180px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #cccc;
  margin-left: 30px;
  margin-bottom: 35px;
}

.menu-left {
  display: flex;
  flex-direction: row;

  a {
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
    color: #333;
    margin-top: 18px;
    margin-right: 30px;

    &:hover {
      color: #ff5500;
      border-bottom: 2px solid #ff5500;
    }
  }
}

.menu-right {
  display: flex;
  flex-direction: row;
  margin-top: 15px;

  button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 26px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-left: 10px;
  }

  .button1 {
    width: 87px;
  }

  .button2 {
    width: 81px;
    background-color: #ff5500;
    color: white;
  }

  .button3 {
    width: 78px;
  }

  .button4 {
    width: 31px;
  }

  .button5 {
    width: 31px;
  }

  .button6 {
    width: 65px;
  }

  div {
    font-size: 14px;
    line-height: 26px;
    margin-left: 5px;
  }

}

.artist-body {
  display: flex;
  flex-direction: row;
}

.recent {
  width: 850px;
  height: fit-content(30px);
  padding-bottom: 25px;
  margin-left: 30px;
  border-right: 1px solid #ccc;
  margin-right: 50px;

  text {
    font-size: 24px;
    color: #333;
  }

  button {
    width: 36px;
    height: 36px;
    border-radius: 36px;
    border: none;
    background-color: #ff3300;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.recent-track {
  margin-top: 15px;
  display: flex;
  flex-direction: row;

  img {
    width: 160px;
    height: 160px;
  }
}

.track-right {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.track-info {
  display: flex;
  flex-direction: row;
}

.track-info-name {
  display: flex;
  flex-direction: column;
  margin-left: 5px;
}

.artistname {
  font-size: 12px;
  color: #333;
}

.trackname {
  font-size: 15px;
  color: #000;
  margin-top: -3px;
}

.player {
  width: 644px;
  height: 60px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.comment {
  width: 644px;
  height: 32px;
  background-color: #f2f2f2;
  border: 1px solid #e5e5e5;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  img {
    width: 20px;
    height: 20px;
  }

  input {
    width: 612px;
    height: 20px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 0;
  }
}

.track-buttons {
  display: flex;
  flex-direction: row;
  margin-top: 10px;

  button {
    width: 65px;
    height: 22px;
    background-color: white;
    border: 1px solid #ccc;
    font-size: 11px;
    border-radius: 3px;
    margin-right: 10px;
  }

  img {
    width: 20px;
    height: 20px;
    color: #333;
    margin-right: 3px;
  }

  div {
    line-height: 22px;
  }
}

.artist-info {
  width: 300px;
  height: fit-content;

  .artist-info-text {
    color: #999;
    
    &:hover {
      color: #333;
    }
  }

  div {
    font-size: 12px;
  }

  text {
    font-size: 20px;
  }
}