.setHeader {
  height: 380px;
  --opacity: 0.6;
  --red: 222;
  --green: 224;
  --blue: 236;
  --bg-color: rgba(var(--red), var(--green), var(--blue), 1);
  --bg-color-light: rgba(var(--red), var(--green), var(--blue), var(--opacity));
  background: linear-gradient(120deg, var(--bg-color), var(--bg-color-light));
  position: relative;
  top: 46px;
}
.setInfo {
  float: left;
  margin-top: 30px;
  margin-left: 30px;
  height: 63px;
  width: 650px;
}
.noSetFound {
  position: absolute;
  top: 305px;
  left: 40px;
  font-size: 20px;
  font-weight: 100;
  color: white;
  svg {
    font-size: 50px;
    margin-right: 20px;
  }
}
.playingTrack {
  // border: 1px solid black;
  position: relative;
  top: 220px;
  left: 30px;
  height: 100px;
  width: 820px;
  box-sizing: border-box;
  .barContainer {
    width: 100%;
  }

  .progressBar {
    --bar-bg: #ffffff;
    --seek-before-width: 0;
    --seek-before-color: #ff3f02;
    --knobby: #ff3f02;
    --selectedKnobby: #26c9c3;

    appearance: none;
    background: var(--bar-bg);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  //   Safari
  .progressBar::-webkit-slider-runnable-track {
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  //   Firefox
  .progressBar::-moz-range-track {
    background: var(--bar-bg);
    border-radius: 10px;
    position: relative;
    width: 100%;
    height: 11px;
    outline: none;
  }
  .progressBar::-moz-focus-outer {
    border: 0;
  }
  // Chrome & Safari
  .progressBar::before {
    content: "";
    height: 11px;
    width: var(--seek-before-width);
    background-color: var(--seek-before-color);
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    cursor: pointer;
  }
  /* progress bar - firefox */
  .progressBar::-moz-range-progress {
    background-color: var(--seek-before-color);
    border-radius: 10px;
    height: 11px;
  }
  /* knobby - chrome and safari */
  .progressBar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0px;
    border-radius: 10px;
    cursor: pointer;
    z-index: 4;
  }
  /* knobby - firefox */
  .progressBar::-moz-range-thumb {
    width: 0px;
    border-radius: 10px;
    border: transparent;
    cursor: pointer;
    z-index: 4;
  }
}
.trackPlayer {
  display: grid;
  grid-row: 2;
  width: 100%;
  .time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    height: 15px;
    box-sizing: border-box;
  }
  .currentTime,
  .duration {
    font: 10px/1.4 Lucida Grande, Lucida Sans Unicode, Lucida Sans, Garuda,
      Verdana, Tahoma, sans-serif;
    background: black;
    width: 28px;
    display: flex;
    justify-content: center;
  }
  .currentTime {
    color: #ff3f02;
  }
  .duration {
    color: #999999;
  }
}
