.main {
  max-height: 150px;
  overflow-y: scroll;
  border-bottom: 1px solid #eee;
  position: relative;
  //   button {
  //     display: block;
  //     background-color: white;
  //     border: none;
  //     padding: 0;
  //     position: absolute;
  //     bottom: 0;
  //     font-size: 12px;
  //     cursor: pointer;
  //   }
  .private {
    span svg {
      width: 22px;
      height: 22px;
      path {
        fill: #ff5500;
      }
    }
  }
  margin-bottom: 25px;
  &::-webkit-scrollbar {
    display: none;
  }
}
