@import url("https://use.typekit.net/wii1ijh.css");
* {
  font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
    Garuda, Verdana, Tahoma, sans-serif;
}
.yourTracksPage {
  width: 100vw;
  background: #f2f2f2;
}
.wrapper {
  width: 1240px;
  box-sizing: border-box;
  margin: auto;
  background: white;
}
.main {
  width: 1180px;
  box-sizing: border-box;
  margin: 0 auto;
  color: #333333;
  height: calc(100vh - 46px);
}
.uploadHeader {
  margin-top: 46px;
  margin-left: -30px;
}
.header {
  width: 1180px;
  height: 121px;
  box-sizing: border-box;
  border-bottom: 1px solid #f2f2f2;
  margin-top: -35px;
}
.title {
  width: 1180px;
  height: 72px;
  margin-bottom: 10px;
  padding-top: 30px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  span {
    font-size: 32px;
    font-weight: 500;
  }
}
.editButtons {
  width: 100%;
  height: 29px;
  display: flex;
  align-items: center;
  position: relative;
}
.checkboxContainer {
  width: 31px;
  height: 31px;
  box-sizing: border-box;
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editTracks {
  width: 123px;
  height: 26px;
  box-sizing: border-box;
  //   color: #333333;
  color: #cccccc;
  //   background: #ffffff;
  background: #f2f2f2;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 5px;
  svg {
    font-size: 13px;
  }
}
.dropdownContainer {
  ul {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    background: #ffffff;
    border: 1px solid #e5e5e5;
    width: 123px;
    box-sizing: border-box;
    color: #333333;
    font-size: 13px;
    position: absolute;
    &:first-child {
      padding-top: 0.8em;
    }
    z-index: 30;
  }
  li {
    padding: 7px;
    list-style: none;
    border-radius: 5px;
  }
}
.addToPlaylist {
  width: 139px;
  height: 26px;
  color: #cccccc;
  background: #f2f2f2;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  display: flex;
  align-items: center;
  svg {
    margin-left: 4px;
    font-size: 20px;
  }
  span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
}
.pageSelector {
  position: absolute;
  right: 15px;
  width: 183px;
  height: 26px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.pageInfo {
  font-size: 14px;
}
.pageButtons {
  display: flex;
  button {
    height: 26px;
    background: #f2f2f2ff;
    color: #c8c8c8;
    border: 1px solid #e5e5e5;
    box-sizing: border-box;
    svg {
      font-size: 18px;
    }
  }
  .backButton {
    padding: 0 6px 0 5px;
    border-right: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .nextButton {
    padding: 0 5px 0 6px;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
  }
}
.uploadTrack {
  margin-top: 102px;
  height: 236px;
  .waveContainer {
    width: 240px;
    height: 167px;
    border: 8px solid #efefef;
    border-radius: 10px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    svg {
      font-size: 150px;
      color: #efefef;
    }
  }
  .seemQuiet {
    margin-top: 14px;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  .uploadLink {
    margin-top: 8px;
    color: #3388dd;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    font-weight: 500;
    &:hover {
      color: #333333;
    }
  }
}
.trackContainer {
  list-style-type: none;
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    height: 73px;
    width: 1180px;
    color: #333333;
    margin: 10px auto;
    padding: 5px 10px 5px 42px;
    position: relative;
    cursor: pointer;
    &:hover {
      background: #f2f2f2;
    }
    .trackCheckBox {
      position: absolute;
      left: 19px;
      top: 50%;
      margin-top: -8px;
    }
    .playContainer {
      position: relative;
      margin-right: 4px;
      padding: 5px 6px;
      width: 60px;
      height: 62px;
      box-sizing: border-box;
      display: inline-block;
      cursor: pointer;
      .trackImage {
        width: 100%;
        height: 100%;
      }
      .playButton {
        visibility: hidden;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        border: none;
        cursor: pointer;
        height: 28px;
        width: 28px;
        background-color: #ff3300;
        color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      &:hover .playButton {
        visibility: visible;
      }
    }
    .contentContainer {
      display: inline-block;
      height: 58px;
      width: 1060px;
      box-sizing: border-box;
      vertical-align: middle;
      margin-top: 4px;
      .content {
        font-size: 14px;
        font-family: Interstate, Lucida Grande, Lucida Sans Unicode, Lucida Sans,
          Garuda, Verdana, Tahoma, sans-serif;
        font-weight: 400;
        line-height: 1.3;
        margin: 18px 0 0;
        word-break: break-word;
        word-wrap: break-word;
        cursor: pointer;
        height: 36px;
        width: 1060px;
        margin-top: 0;
        display: grid;
        .username {
          width: 1060px;
          height: 18px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          word-break: normal;
          span {
            line-height: 1;
            color: #999;
            cursor: pointer;
            font-weight: 100;
            font-size: 14px;
            font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
              Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
          }
        }
        .title {
          height: 19px;
          padding: 0;
          width: 1060px;
          span {
            color: #000;
            font-weight: 100;
            cursor: pointer;
            font-size: 14px;
            font-family: Interstate, Lucida Grande, Lucida Sans Unicode,
              Lucida Sans, Garuda, Verdana, Tahoma, sans-serif;
            line-height: 1.3;
          }
        }
      }
      .stats {
        list-style-type: none;
        padding: 0;
        margin: 0;
        height: 22px;
        cursor: pointer;
        li {
          list-style: none;
          margin: 0;
          margin-right: 10px;
          padding: 0;
          height: 100%;
          display: inline;
          color: #999999;
          font-size: 12px;
          border-radius: 5px;
          svg path {
            fill: #999999;
          }
          span {
            margin-left: 4px;
          }
        }
      }
      .additional {
        position: absolute;
        background: linear-gradient(90deg, hsla(0, 0%, 100%, 0.1), #fff 17px);
        top: 25px;
        right: 0;
        padding: 0 15px 0 20px;
        width: 450px;
        height: 19px;
        box-sizing: border-box;
        .actions {
          float: left;
          height: 22px;
          .smallButtons {
            margin-bottom: 0;
            display: flex;
            margin: 0 0 7px;
            padding-right: 0;
            vertical-align: middle;
            display: inline-block;
            visibility: hidden;
            button {
              height: 20px;
              width: 20px;
              border: 1px solid #e5e5e5;
              border-radius: 3px;
              box-sizing: border-box;
              background-color: #fff;
              min-width: 25px;
              margin-right: 5px;
              text-align: left;
              font-size: 10px;
              padding: 2px 2px 2px 2px;
              height: 22px;
              line-height: 16px;
              text-align: center;
              position: relative;
              cursor: pointer;
              color: #333;
              font-size: 14px;
              vertical-align: baseline;
            }
          }
        }
        .extra {
          float: left;
          margin: 0 0 15px;
          margin-left: 0;
          min-width: 168px;
          min-height: 1px;
          .private {
            span svg {
              margin-right: 10px;
              width: 22px;
              height: 22px;
              path {
                fill: #ff5500;
              }
            }
          }
        }
        .duration {
          float: left;
          min-width: 45px;
          padding: 1px 0;
          margin-left: 20px;
          text-align: right;
        }
        .uploadTime {
          float: left;
          margin-left: 10px;
          min-width: 80px;
          padding: 1px 0;
          font-weight: 100;
          color: #999;
          text-align: right;
        }
      }
    }
    &:hover .contentContainer .additional {
      background: #f2f2f2;
      .smallButtons {
        visibility: visible;
      }
    }
  }
}
