@media screen and (min-width: 920px) {
  .box {
    width: 90vw;
  }
}

.box {
  padding: 0 0 46px 0;
  width: 920px;
  height: calc(100vh-46px);
  background-color: white;
  display: block;
  justify-content: center;
  .upperline {
    width: 920px;
    height: 5px;
    background-color: #ff5602;
  }
  .background {
    width: 920px;
    height: 420px;
    background-image: url("../../BG.png");
    background-position: 80% 50%;
    background-size: 1200px;
    background-repeat: no-repeat;
    background-clip: padding-box;
    button {
      cursor: pointer;
    }
    div {
      padding-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: end;
      .signIn {
        width: 75px;
        height: 30px;
        color: white;
        font-weight: 10;
        font-size: 14px;
        background: none;
        border: 0.1px solid;
        border-radius: 5px;
        margin-right: 10px;
      }
      .createAccount {
        width: 130px;
        height: 30px;
        color: white;
        font-weight: 10;
        font-size: 14px;
        background-color: #ff5602;
        border: none;
        border-radius: 5px;
        margin-right: 20px;
      }
    }
    p {
      color: white;
      text-align: center;
    }
    .texthighlight {
      margin: 0;
      padding-top: 120px;
      font-size: 36px;
      font-weight: 1300;
    }
    .textdetail {
      font-size: 18px;
      font-weight: 400;
    }
    .signUp {
      color: white;
      width: 210px;
      height: 46px;
      font-size: 18px;
      background-color: #ff5602;
      border: none;
      border-radius: 5px;
    }
  }
}
