.upload-playlist-track {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 680px;
        height: 26px;
    }
}