.reposts-more {
    width: 814px;
    height: 30px;
    line-height: 30px;
    display: flex;
    justify-content: center;
    border-top: 1px solid #cccc;
    font-size: 14px;
    margin-bottom: 20px;
}