.reposts-more {
    width: 814px;
    height: 40px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #cccc;
    margin-bottom: 40px;
    font-size: 18px;
    font-weight: 500;
    color: #333;
}