.recent-track {
margin-top: 30px;
display: flex;
flex-direction: row;
margin-bottom: 50px;

img {
    width: 160px;
    height: 160px;
}
}

.track-right {
display: flex;
flex-direction: column;
margin-left: 10px;
}

.track-info {
display: flex;
flex-direction: row;
}

.track-info-name {
display: flex;
flex-direction: column;
margin-left: 5px;
}

.artistname {
font-size: 12px;
color: #333;
}

.trackname {
font-size: 15px;
color: #000;
margin-top: -3px;
}

.player {
width: 644px;
height: 60px;
margin-top: 10px;
margin-bottom: 20px;
}

.comment {
width: 644px;
height: 32px;
background-color: #f2f2f2;
border: 1px solid #e5e5e5;
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

img {
    width: 20px;
    height: 20px;
}

input {
    width: 612px;
    height: 20px;
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 0;
}
}

.track-buttons {
display: flex;
flex-direction: row;
margin-top: 10px;

button {
    width: 65px;
    height: 22px;
    background-color: white;
    border: 1px solid #ccc;
    font-size: 11px;
    border-radius: 3px;
    margin-right: 10px;
}

img {
    width: 20px;
    height: 20px;
    color: #333;
    margin-right: 3px;
}

div {
    line-height: 22px;
}

.liked-button {
    color: #ff5500;
}

.reposted-button {
    color: #ff5500;
}
}